<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
         <div class="main-content">
         {{>header}}
          <img class="portrait" src="./img/profile.jpg">
          <p>
              this website created by mayur and showing weather data
          </p>
         </div>       
       {{>footer}}
    </body>
</html>